# Created by https://www.gitignore.io/api/jekyll

### Jekyll ###
_site/
.sass-cache/
.jekyll-metadata
_posts/工作/2011-11-11-job.md
_posts/私人/
_posts/私人保密/
_posts/offer/


# End of https://www.gitignore.io/api/jekyll
