<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2012-10-23-浮点数简介.md</key>
			<dict>
				<key>lastModification</key>
				<real>551585035.77144396</real>
				<key>version</key>
				<dict>
					<key>ccb7700518cb6576d3fe9d35876e80de5e5728a11f34b6ea2fa348d9fe5ba075</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-05-22-进制、位运算的介绍和应用.md</key>
			<dict>
				<key>lastModification</key>
				<real>551585035.77144802</real>
				<key>version</key>
				<dict>
					<key>ccb7700518cb6576d3fe9d35876e80de5e5728a11f34b6ea2fa348d9fe5ba075</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>B-tree.md</key>
			<dict>
				<key>lastModification</key>
				<real>551585035.77144694</real>
				<key>version</key>
				<dict>
					<key>ccb7700518cb6576d3fe9d35876e80de5e5728a11f34b6ea2fa348d9fe5ba075</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>BigDecimal.md</key>
			<dict>
				<key>lastModification</key>
				<real>551585035.77144897</real>
				<key>version</key>
				<dict>
					<key>ccb7700518cb6576d3fe9d35876e80de5e5728a11f34b6ea2fa348d9fe5ba075</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>[转]HashMap.md</key>
			<dict>
				<key>lastModification</key>
				<real>551585035.77144694</real>
				<key>version</key>
				<dict>
					<key>ccb7700518cb6576d3fe9d35876e80de5e5728a11f34b6ea2fa348d9fe5ba075</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>[转]操作系统中锁的实现原理.md</key>
			<dict>
				<key>lastModification</key>
				<real>551585035.77144504</real>
				<key>version</key>
				<dict>
					<key>ccb7700518cb6576d3fe9d35876e80de5e5728a11f34b6ea2fa348d9fe5ba075</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>二叉查找树.md</key>
			<dict>
				<key>lastModification</key>
				<real>551585035.77144802</real>
				<key>version</key>
				<dict>
					<key>ccb7700518cb6576d3fe9d35876e80de5e5728a11f34b6ea2fa348d9fe5ba075</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>多路归并.md</key>
			<dict>
				<key>lastModification</key>
				<real>551585035.77144897</real>
				<key>version</key>
				<dict>
					<key>ccb7700518cb6576d3fe9d35876e80de5e5728a11f34b6ea2fa348d9fe5ba075</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>排序.md</key>
			<dict>
				<key>lastModification</key>
				<real>551585035.77144599</real>
				<key>version</key>
				<dict>
					<key>ccb7700518cb6576d3fe9d35876e80de5e5728a11f34b6ea2fa348d9fe5ba075</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>最长回文子串——Manacher 算法.md</key>
			<dict>
				<key>lastModification</key>
				<real>551585049.919191</real>
				<key>version</key>
				<dict>
					<key>ccb7700518cb6576d3fe9d35876e80de5e5728a11f34b6ea2fa348d9fe5ba075</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>程序员面试、算法研究、编程艺术、红黑树、机器学习5大系列集锦.md</key>
			<dict>
				<key>lastModification</key>
				<real>551585035.77144599</real>
				<key>version</key>
				<dict>
					<key>ccb7700518cb6576d3fe9d35876e80de5e5728a11f34b6ea2fa348d9fe5ba075</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>跳表.md</key>
			<dict>
				<key>lastModification</key>
				<real>551585035.77144694</real>
				<key>version</key>
				<dict>
					<key>ccb7700518cb6576d3fe9d35876e80de5e5728a11f34b6ea2fa348d9fe5ba075</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2012-10-23-浮点数简介.md</string>
		</array>
		<array>
			<string>最长回文子串——Manacher 算法.md</string>
		</array>
		<array>
			<string>[转]操作系统中锁的实现原理.md</string>
		</array>
		<array>
			<string>程序员面试、算法研究、编程艺术、红黑树、机器学习5大系列集锦.md</string>
		</array>
		<array>
			<string>排序.md</string>
		</array>
		<array>
			<string>[转]HashMap.md</string>
		</array>
		<array>
			<string>跳表.md</string>
		</array>
		<array>
			<string>B-tree.md</string>
		</array>
		<array>
			<string>2016-05-22-进制、位运算的介绍和应用.md</string>
		</array>
		<array>
			<string>二叉查找树.md</string>
		</array>
		<array>
			<string>多路归并.md</string>
		</array>
		<array>
			<string>BigDecimal.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>ccb7700518cb6576d3fe9d35876e80de5e5728a11f34b6ea2fa348d9fe5ba075</key>
			<integer>4</integer>
		</dict>
	</dict>
</dict>
</plist>
