<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>eclipse &amp; IDEA</string>
		<string>blog</string>
		<string>js-library</string>
		<string>sftp</string>
		<string>管理</string>
		<string>安全</string>
		<string>pmp</string>
		<string>VPN</string>
		<string>运维 &amp; 主机 &amp; 系统搭建</string>
		<string>pythonbak</string>
		<string>sublime</string>
		<string>git &amp; svn</string>
		<string>node</string>
		<string>spring</string>
		<string>tem</string>
		<string>solr</string>
		<string>docker</string>
		<string>JavaScript</string>
		<string>jvm</string>
		<string>nginx</string>
		<string>http</string>
		<string>Rxjava</string>
		<string>编程习惯&amp;思考</string>
		<string>计算机原理 &amp; 算法</string>
		<string>工具</string>
		<string>python</string>
		<string>数据库相关</string>
		<string>thread</string>
		<string>netty</string>
		<string>微服务 &amp; 分布式 &amp; 架构</string>
		<string>私人</string>
		<string>offer</string>
		<string>linux</string>
		<string>maven</string>
		<string>java</string>
		<string>日常练手</string>
		<string>git</string>
	</array>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>JavaScript</key>
			<dict>
				<key>lastModification</key>
				<real>551335717.39566398</real>
				<key>version</key>
				<dict>
					<key>ccb7700518cb6576d3fe9d35876e80de5e5728a11f34b6ea2fa348d9fe5ba075</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Rxjava</key>
			<dict>
				<key>lastModification</key>
				<real>551335717.395666</real>
				<key>version</key>
				<dict>
					<key>ccb7700518cb6576d3fe9d35876e80de5e5728a11f34b6ea2fa348d9fe5ba075</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>VPN</key>
			<dict>
				<key>lastModification</key>
				<real>551335717.39565897</real>
				<key>version</key>
				<dict>
					<key>ccb7700518cb6576d3fe9d35876e80de5e5728a11f34b6ea2fa348d9fe5ba075</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>blog</key>
			<dict>
				<key>lastModification</key>
				<real>551335717.39565599</real>
				<key>version</key>
				<dict>
					<key>ccb7700518cb6576d3fe9d35876e80de5e5728a11f34b6ea2fa348d9fe5ba075</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>docker</key>
			<dict>
				<key>lastModification</key>
				<real>551335717.39566302</real>
				<key>version</key>
				<dict>
					<key>ccb7700518cb6576d3fe9d35876e80de5e5728a11f34b6ea2fa348d9fe5ba075</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>eclipse &amp; IDEA</key>
			<dict>
				<key>lastModification</key>
				<real>551335725.077842</real>
				<key>version</key>
				<dict>
					<key>ccb7700518cb6576d3fe9d35876e80de5e5728a11f34b6ea2fa348d9fe5ba075</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>git</key>
			<dict>
				<key>lastModification</key>
				<real>551335717.39567196</real>
				<key>version</key>
				<dict>
					<key>ccb7700518cb6576d3fe9d35876e80de5e5728a11f34b6ea2fa348d9fe5ba075</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>git &amp; svn</key>
			<dict>
				<key>lastModification</key>
				<real>551335717.395661</real>
				<key>version</key>
				<dict>
					<key>ccb7700518cb6576d3fe9d35876e80de5e5728a11f34b6ea2fa348d9fe5ba075</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>http</key>
			<dict>
				<key>lastModification</key>
				<real>551335717.39566505</real>
				<key>version</key>
				<dict>
					<key>ccb7700518cb6576d3fe9d35876e80de5e5728a11f34b6ea2fa348d9fe5ba075</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>java</key>
			<dict>
				<key>lastModification</key>
				<real>551335717.39567101</real>
				<key>version</key>
				<dict>
					<key>ccb7700518cb6576d3fe9d35876e80de5e5728a11f34b6ea2fa348d9fe5ba075</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>js-library</key>
			<dict>
				<key>lastModification</key>
				<real>551335717.39565694</real>
				<key>version</key>
				<dict>
					<key>ccb7700518cb6576d3fe9d35876e80de5e5728a11f34b6ea2fa348d9fe5ba075</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>jvm</key>
			<dict>
				<key>lastModification</key>
				<real>551335717.39566398</real>
				<key>version</key>
				<dict>
					<key>ccb7700518cb6576d3fe9d35876e80de5e5728a11f34b6ea2fa348d9fe5ba075</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>linux</key>
			<dict>
				<key>lastModification</key>
				<real>551335717.39567006</real>
				<key>version</key>
				<dict>
					<key>ccb7700518cb6576d3fe9d35876e80de5e5728a11f34b6ea2fa348d9fe5ba075</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>maven</key>
			<dict>
				<key>lastModification</key>
				<real>551335717.39567101</real>
				<key>version</key>
				<dict>
					<key>ccb7700518cb6576d3fe9d35876e80de5e5728a11f34b6ea2fa348d9fe5ba075</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>netty</key>
			<dict>
				<key>lastModification</key>
				<real>551335717.39566898</real>
				<key>version</key>
				<dict>
					<key>ccb7700518cb6576d3fe9d35876e80de5e5728a11f34b6ea2fa348d9fe5ba075</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>nginx</key>
			<dict>
				<key>lastModification</key>
				<real>551335717.39566505</real>
				<key>version</key>
				<dict>
					<key>ccb7700518cb6576d3fe9d35876e80de5e5728a11f34b6ea2fa348d9fe5ba075</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>node</key>
			<dict>
				<key>lastModification</key>
				<real>551335717.395661</real>
				<key>version</key>
				<dict>
					<key>ccb7700518cb6576d3fe9d35876e80de5e5728a11f34b6ea2fa348d9fe5ba075</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>offer</key>
			<dict>
				<key>lastModification</key>
				<real>551335717.39567006</real>
				<key>version</key>
				<dict>
					<key>ccb7700518cb6576d3fe9d35876e80de5e5728a11f34b6ea2fa348d9fe5ba075</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>pmp</key>
			<dict>
				<key>lastModification</key>
				<real>551335717.39565897</real>
				<key>version</key>
				<dict>
					<key>ccb7700518cb6576d3fe9d35876e80de5e5728a11f34b6ea2fa348d9fe5ba075</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>python</key>
			<dict>
				<key>lastModification</key>
				<real>551335717.39566803</real>
				<key>version</key>
				<dict>
					<key>ccb7700518cb6576d3fe9d35876e80de5e5728a11f34b6ea2fa348d9fe5ba075</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>pythonbak</key>
			<dict>
				<key>lastModification</key>
				<real>551335717.39566004</real>
				<key>version</key>
				<dict>
					<key>ccb7700518cb6576d3fe9d35876e80de5e5728a11f34b6ea2fa348d9fe5ba075</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>sftp</key>
			<dict>
				<key>lastModification</key>
				<real>551335717.39565694</real>
				<key>version</key>
				<dict>
					<key>ccb7700518cb6576d3fe9d35876e80de5e5728a11f34b6ea2fa348d9fe5ba075</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>solr</key>
			<dict>
				<key>lastModification</key>
				<real>551335717.39566302</real>
				<key>version</key>
				<dict>
					<key>ccb7700518cb6576d3fe9d35876e80de5e5728a11f34b6ea2fa348d9fe5ba075</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>spring</key>
			<dict>
				<key>lastModification</key>
				<real>551335717.39566195</real>
				<key>version</key>
				<dict>
					<key>ccb7700518cb6576d3fe9d35876e80de5e5728a11f34b6ea2fa348d9fe5ba075</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>sublime</key>
			<dict>
				<key>lastModification</key>
				<real>551335717.39566004</real>
				<key>version</key>
				<dict>
					<key>ccb7700518cb6576d3fe9d35876e80de5e5728a11f34b6ea2fa348d9fe5ba075</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>tem</key>
			<dict>
				<key>lastModification</key>
				<real>551335717.39566195</real>
				<key>version</key>
				<dict>
					<key>ccb7700518cb6576d3fe9d35876e80de5e5728a11f34b6ea2fa348d9fe5ba075</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>thread</key>
			<dict>
				<key>lastModification</key>
				<real>551335717.39566803</real>
				<key>version</key>
				<dict>
					<key>ccb7700518cb6576d3fe9d35876e80de5e5728a11f34b6ea2fa348d9fe5ba075</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>安全</key>
			<dict>
				<key>lastModification</key>
				<real>551335717.39565802</real>
				<key>version</key>
				<dict>
					<key>ccb7700518cb6576d3fe9d35876e80de5e5728a11f34b6ea2fa348d9fe5ba075</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>工具</key>
			<dict>
				<key>lastModification</key>
				<real>551335717.39566696</real>
				<key>version</key>
				<dict>
					<key>ccb7700518cb6576d3fe9d35876e80de5e5728a11f34b6ea2fa348d9fe5ba075</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>微服务 &amp; 分布式 &amp; 架构</key>
			<dict>
				<key>lastModification</key>
				<real>551335717.39566898</real>
				<key>version</key>
				<dict>
					<key>ccb7700518cb6576d3fe9d35876e80de5e5728a11f34b6ea2fa348d9fe5ba075</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>数据库相关</key>
			<dict>
				<key>lastModification</key>
				<real>551335717.39566803</real>
				<key>version</key>
				<dict>
					<key>ccb7700518cb6576d3fe9d35876e80de5e5728a11f34b6ea2fa348d9fe5ba075</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>日常练手</key>
			<dict>
				<key>lastModification</key>
				<real>551335717.39567196</real>
				<key>version</key>
				<dict>
					<key>ccb7700518cb6576d3fe9d35876e80de5e5728a11f34b6ea2fa348d9fe5ba075</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>私人</key>
			<dict>
				<key>lastModification</key>
				<real>551335717.39567006</real>
				<key>version</key>
				<dict>
					<key>ccb7700518cb6576d3fe9d35876e80de5e5728a11f34b6ea2fa348d9fe5ba075</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>管理</key>
			<dict>
				<key>lastModification</key>
				<real>551335717.39565802</real>
				<key>version</key>
				<dict>
					<key>ccb7700518cb6576d3fe9d35876e80de5e5728a11f34b6ea2fa348d9fe5ba075</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>编程习惯&amp;思考</key>
			<dict>
				<key>lastModification</key>
				<real>551335717.395666</real>
				<key>version</key>
				<dict>
					<key>ccb7700518cb6576d3fe9d35876e80de5e5728a11f34b6ea2fa348d9fe5ba075</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>计算机原理 &amp; 算法</key>
			<dict>
				<key>lastModification</key>
				<real>551335717.39566696</real>
				<key>version</key>
				<dict>
					<key>ccb7700518cb6576d3fe9d35876e80de5e5728a11f34b6ea2fa348d9fe5ba075</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>运维 &amp; 主机 &amp; 系统搭建</key>
			<dict>
				<key>lastModification</key>
				<real>551335717.39565897</real>
				<key>version</key>
				<dict>
					<key>ccb7700518cb6576d3fe9d35876e80de5e5728a11f34b6ea2fa348d9fe5ba075</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>ccb7700518cb6576d3fe9d35876e80de5e5728a11f34b6ea2fa348d9fe5ba075</key>
			<integer>3</integer>
		</dict>
	</dict>
</dict>
</plist>
